<% if (posts) {%> <% for (post of posts) {%>
<section>
  <div class="section-header">
    <div class="section-header-time">
      <h3><%= post.datetime %></h3>
    </div>
    <div class="section-header-title">
      <h1><%= post.title %></h1>
    </div>
    <div class="section-tags">
      <h3>tags:</h3>
      <% for (let tag of post.tags) {%>
      <a href="/posts?substring=&tags=<%= tag %>">#<%= tag %></a>
      <% } %>
    </div>
  </div>
  <div class="section-contents">
    <div class="post-contents">
      <%- include(postsPath + "/" + post.pagename + '.ejs' ) -%>
    </div>
  </div>
</section>
<% } %> <% } else {%>
<h1>Ничего не найдено</h1>
<% } %>
