<% if (posts) {%> <% for (post of posts) {%>
<section>
  <div class="section-header">
    <div class="section-header-time">
      <h3><%= post.datetime %></h3>
    </div>
    <div class="section-header-title">
      <h1><%= post.title %></h1>
    </div>
    <div class="section-tags">
      <h3>tags:</h3>
      <% for (let tag of post.tags) {%>
      <a href="/posts?substring=&tags=<%= tag %>">#<%= tag %></a>
      <% } %>
    </div>
  </div>
  <div class="section-contents">
    <div class="post-contents">
      <%- include(postsPath + "/" + post.pagename + '.ejs' ) -%>
    </div>
  </div>
</section>
<% } %> <% } else {%>
<h1>Ничего не найдено</h1>
<% } %>

<div class="music-widget">
  <div class="music-widget-handle">
    <img src="media/icons/chevron-compact-up.svg" />
  </div>
  <div class="music-widget-current music-player-folded">
    <img class="music-widget-cover" src="media/posts/no_content.png" />
    <div class="music-widget-controls">
      <div class="music-widget-song-name">Не проигрывается</div>
      <div class="music-widget-buttons">
        <button class="music-widget-button-backwards">
          <img src="media/icons/skip-start-fill.svg" alt="play" />
        </button>
        <button class="music-widget-button-play">
          <img src="media/icons/play-fill.svg" alt="play" />
        </button>
        <button class="music-widget-button-forwards">
          <img src="media/icons/skip-end-fill.svg" alt="play" />
        </button>
        <button class="music-widget-button-repeat">
          <img src="media/icons/repeat.svg" alt="play" />
        </button>
      </div>
    </div>
  </div>
</div>
